<app-navbar></app-navbar>
<div class="row w-60 m-auto mt-5">
  <div class="col-6">
    <div class="item-container w-100 m-auto row" *ngFor="let item of cartList; let i = index">
      <div class="col-6">
        <img class="item-image w-100" src="{{ item.url }}" alt="ItemPhoto" />
      </div>
      <div class="col-6">
        <div class="d-flex flex-column justify-content-center h-100">
          <h4 class="mt-1 fw-bold">{{ item.name }}</h4>
          <p class="mt-1">${{ item.price }}</p>
          <p>
            Amount:
            <span class="bold border border-2 px-4 fw-bold">{{
              item.count
              }}</span>
          </p>
          <button class="btn btn-danger" (click)="deleteItem(i)">Delete</button>
        </div>
      </div>
    </div>
    <h3>Total: ${{ totalCart }}</h3>
  </div>
  <div class="col-6">
    <app-client-payment (fullName)="getFullName($event)"></app-client-payment>
    <button class="btn btn-primary" [disabled]="totalCart == 0 || fullName == ''" (click)="onSubmit()">
      Submit
    </button>
  </div>
</div>