*{
    box-sizing: border-box;
}
.item-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  .item-container {

    width: 70%;
    margin: auto;
  }
  .item-image {      
    list-style-type: none;
    width: 100%;
    padding: 20px;
    margin: 6px 6px;        
    border: 1px solid #33B5E5;
  } 
 
  
  .select-input {
    width: 108px; 
    margin-bottom: 8px;
  }