.item-image {      
    list-style-type: none;
    width: 290px;
    padding: 20px;
    margin: 6px 6px;        
    border-radius: 40px;
  } 
  
  .item-container {
    margin-top: 64px;
  }
  
  .select-input {
    width: 108px; 
    margin-bottom: 8px;
  }