<div class="bg-primary w-100 text-white p-2">
  <div class="w-50 m-auto text-center">
    <h2>My Store</h2>
    <div>
      <a
        class="text-white text-decoration-none"
        routerLinkActive="active"
        [routerLink]="'/home'"
        >ProductList</a
      >
      |
      <a
        class="text-white text-decoration-none"
        routerLinkActive="active"
        [routerLink]="'/cart'"
        >Cart <i class="fa-solid fa-cart-shopping text-secondary"></i
      ></a>
    </div>
  </div>
</div>
